.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  &__list {
    display: grid;
    gap: 20px;
    grid-column: 2/4;
  }

  &__link {
    padding: 20px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
}
